@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  color: #333333;
  font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
  font-size: 1.6rem;
  background-color: red;
}

div {
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 0;
}

a {
  border: solid 1px;
  width: 100px;
  margin: 15px auto;
  text-align: center;
  color: white;
  padding: 15px;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
